# Jump to Python
## 02 자료형 (type)

### 02-1 Number 숫자형

In [2]:
a = 123
a= -178
a = 0

In [3]:
a = 1.2
a = -3.45

In [9]:
a = 4.24E10
b = 4.24e-10
print(a, b)

42400000000.0 4.24e-10

In [12]:
# Octal
a = 0o177
print(a)

127

In [19]:
print(8**2*1 + 8**1*7 + 8**0*7)

127

In [13]:
# Hexadecimal
a = 0x8ff
b = 0xABC
print(a,b)

2303 2748

In [18]:
print(16**2*8 + 16**1*15 + 16**0*15,
      16**2*10 + 16**1*11 + 16**0*12)

2303 2748

In [20]:
a = 3
b =4
a + b

7

In [21]:
a * b

12

In [22]:
a / b

0.75

In [23]:
a = 3
b = 4
a**b

81

In [24]:
7 % 3

1

In [25]:
3 % 7

3

In [27]:
print(7/4, 7//4)

1.75 1

In [28]:
print( -7/4, -7//4)

-1.75 -2

### 02-2 String 문자열 자료형

In [31]:
"Lis is too short, You need Python"

'Lis is too short, You need Python'

In [32]:
"a"

'a'

In [33]:
"123"

'123'

In [34]:
"Hello World"

'Hello World'

In [35]:
'Python is fun'

'Python is fun'

In [36]:
"""Lis is too short, You need Python"""

'Lis is too short, You need Python'

In [37]:
'''Life is too short, You need Python'''

'Life is too short, You need Python'

In [38]:
food = "Python's favorite food is perl"

In [39]:
food

"Python's favorite food is perl"

In [40]:
food = 'Python's favorite food is perl'

SyntaxError: invalid syntax (<ipython-input-40-4bf9be702834>, line 1)

In [41]:
say = '"Python is very easy." he says.'

In [42]:
say

'"Python is very easy." he says.'

In [44]:
food ='Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

In [45]:
print(food, say)

Python's favorite food is perl "Python is very easy." he says.

In [54]:
multiline = "Life is too short\nYou need Python"

In [55]:
multiline

'Life is too short\nYou need Python'

In [52]:
multiline='''Life is too short
You need Python'''

In [53]:
multiline

'Life is too short\nYou need Python'

In [56]:
multiline="""Life is too short
You need Python"""

In [57]:
print(multiline)

Life is too short
You need Python

이스케이프코드

\n 개행(줄바꿈)
\t 수평탭
\\ 문자"\"
\' 단일인용 부호(')
\" 이중인용부호(")
...

In [58]:
head = "Python"
tail = "is fun!"
head + tail

'Pythonis fun!'

In [59]:
a = "python"
a*2

'pythonpython'

In [60]:
print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

#### 문자열 인덱싱과 슬라이싱

In [62]:
a = "Life is too short, You need Python"

In [64]:
# Indexing
a[3]

'e'

In [65]:
a[12]

's'

In [66]:
a[-1]

'n'

In [67]:
a[-2]

'o'

In [68]:
#Slicing
a[0:4]

'Life'

In [69]:
a[0:3]

'Lif'

In [70]:
a[0:5]

'Life '

In [71]:
a[5:7]

'is'

In [72]:
a[19:]

'You need Python'

In [73]:
a[:17]

'Life is too short'

In [74]:
a[19:-7]

'You need'

In [75]:
a = "20010331Rainy"
date = a[:8]
weather = a[8:]

In [76]:
date

'20010331'

In [77]:
weather

'Rainy'

In [78]:
year=a[:4]
day=a[4:8]

In [79]:
year

'2001'

In [80]:
day

'0331'

In [82]:
a = "Pithon"
a[1]

'i'

In [85]:
a[1]='y'   # immutable variable (ex: string, tuple)

TypeError: 'str' object does not support item assignment

In [86]:
a[:1] + 'y' + a[2:]

'Python'

#### 문자열 포매팅

In [90]:
"I eat %d apples." %3

'I eat 3 apples.'

In [91]:
"I eat %s apples." %"five"

'I eat five apples.'

In [92]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

문자열 포맷 코드

%s 문자열(string)
%c 문자1개(character)
%d 정수(integer)
%f 부동소수(floating point)
%o 8진수 (octant)
%x 16진수 (hexadecimal)
%% 문자 % 자체 (Literal % )

In [93]:
"I have %s apples" % 3

'I have 3 apples'

In [94]:
"rate is %s" % 3.234

'rate is 3.234'

In [95]:
'%x is Hexoadecimal' %0xfff

'fff is Hexoadecimal'

In [96]:
"Error is %d%%" % 98

'Error is 98%'

In [97]:
"%10s" % "hi"

'        hi'

In [98]:
"%-10sjain" % "hi"

'hi        jain'

In [99]:
'%0.4f' % 3.4231231231

'3.4231'

#### 문자열 관련 함수들

In [100]:
a = "hobby"
a.count('b')

2

In [101]:
a = "Python is best choice"
a.find('b')

10

In [102]:
a.find('k')

-1

In [103]:
a.find('e')

11

In [104]:
a = 'Life is too short'
a.index('t')

8

In [105]:
a.index('k')

ValueError: substring not found

In [107]:
a = ','
a.join('abcd')

'a,b,c,d'

In [108]:
a = 'hi'
a.upper()

'HI'

In [109]:
a = 'HI'
a.lower()

'hi'

In [110]:
a = ' hi '

In [111]:
a.lstrip()

'hi '

In [112]:
a.rstrip()

' hi'

In [113]:
a.strip()

'hi'

In [114]:
a = 'Life is too short'
a.replace('Life', "Your leg")

'Your leg is too short'

In [118]:
a = 'Life is too short'
a.split()  # split with space, tab, enter

['Life', 'is', 'too', 'short']

In [117]:
a = 'a:b:c:d'
a.split(':')

['a', 'b', 'c', 'd']

#### 고급 문자열 포매팅

In [120]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [121]:
"I eat {0} apples".format("five")

'I eat five apples'

In [122]:
number = 3
'I eat {0} apples'.format(number)

'I eat 3 apples'

In [123]:
number = 10
day = 'three'
'I ate {0} apples. So, I was sick for {1} days.'.format(number, day)

'I ate 10 apples. So, I was sick for three days.'

In [127]:
'I ate {number} apples. So, I was sick for {day} days.'.format(number=10, day=3)

'I ate 10 apples. So, I was sick for 3 days.'

In [128]:
'{0:<10}'.format('hi') #문자열 왼쪽 정렬, 문자열 총 자릿수 10

'hi        '

In [129]:
'{0:>10}'.format('hi')

'        hi'

In [130]:
'{0:^10}'.format('hi')

'    hi    '

In [131]:
'{0:=^10}'.format('hi')

'====hi===='

In [132]:
'{0:!<10}'.format('hi')

'hi!!!!!!!!'

In [133]:
y = 3.41234234
'{0:0.4f}'.format(y)

'3.4123'

In [134]:
'{0:10.4f}'.format(y)

'    3.4123'

In [135]:
'{{ and }}'.format()

'{ and }'

### 02-3 List 리스트 자료형

In [136]:
odd = [1, 3, 5, 7, 9]

In [139]:
a = [] # a = list()
b = [1,2,3]
c = ['Life', 'is', 'too', 'short']
d = [1,2, 'Life', 'is']
e = [1,2, ['Life', 'is']]

In [144]:
a = [1,2,3]
a

[1, 2, 3]

In [145]:
a[0]

1

In [146]:
a[0] + a[2]

4

In [147]:
a[-1]

3

In [150]:
a = [1,2,3, ['a', 'b', 'c']]

In [151]:
a[0]

1

In [152]:
a[-1]

['a', 'b', 'c']

In [153]:
a[3]

['a', 'b', 'c']

In [154]:
a[-1][0]

'a'

In [156]:
a[-1][1]

'b'

In [157]:
a[-1][2]

'c'

In [158]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]

In [161]:
a[2][2][0]

'Life'

In [164]:
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [165]:
a = '12345'
a[0:2]

'12'

In [168]:
a = [1,2,3,4,5]
b = a[:2]
c = a[2:]

In [169]:
b

[1, 2]

In [170]:
c

[3, 4, 5]

In [172]:
a = [1,2,3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [173]:
a[3][:2]

['a', 'b']

#### 리스트 연산자

In [176]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b   # 'abc' + 'def' = 'abcdef'

[1, 2, 3, 4, 5, 6]

In [177]:
a = [1, 2, 3]
a*3   # 'abc' * 3 = 'abcabcabc'

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [178]:
a = [1, 2, 3]
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [179]:
str(a[2]) + 'hi'

'3hi'

#### 리스트 수정, 변경, 삭제

In [187]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [188]:
a[1:2]

[2]

In [190]:
a = [1,2,4]
a[1:2] = ['a', 'b', 'c']
a

[1, 'a', 'b', 'c', 4]

In [191]:
a = [1,2,4]
a[1] = ['a', 'b', 'c']
a

[1, ['a', 'b', 'c'], 4]

In [195]:
a = [1, 'a', 'b', 'c', 4]
a[1:2] = []
a

[1, 'b', 'c', 4]

In [194]:
a = [1, 'a', 'b', 'c', 4]
a[1] = []
a

[1, [], 'b', 'c', 4]

In [197]:
a = [ 1, 'c', 4]
del a[1]
a

[1, 4]

In [199]:
a = [ 1, 'c', 4]
del a[1:2]
a

[1, 4]

In [200]:
a = [ 1, 'c', 4]
del a[1:3]
a

[1]

#### 리스트 관련 함수

In [205]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [203]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [206]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [207]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [208]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [209]:
a = [1, 2, 3]
a.index(3)

2

In [210]:
a.index(1)

0

In [211]:
a.index(0)

ValueError: 0 is not in list

In [213]:
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [215]:
a = [1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [216]:
a = [1,2,3]
a.pop()

3

In [217]:
a

[1, 2]

In [218]:
a = [1,2,3]
a.pop(1)

2

In [219]:
a

[1, 3]

In [220]:
a = [1,2,3,1]
a.count(1)

2

In [226]:
a = [1,2,3]
a.extend([4,5])    # a += [4,5]
a

[1, 2, 3, 4, 5]

In [227]:
b = [6,7]
a.extend(b)    # a += [6,7]
a

[1, 2, 3, 4, 5, 6, 7]

### 02-4 tuple 튜플 자료형

1. 리스트는 '[]', 튜플은 '()'

2. 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다. (string과 마찬가지)

In [229]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

In [230]:
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [231]:
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [232]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [233]:
t1[3]

'b'

In [238]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [239]:
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [240]:
t2 *3

(3, 4, 3, 4, 3, 4)

### 02-5 Dictionary 딕셔너리 자료형

연관 배열 (Associative array) 또는 해시(Hash)

딕셔너리는 리스트나 튜플처럼 순차적으로(sequential) 해당 요소값을 구하지 않고, key를 통해 value를 얻는다.
(ex: 고급 문자열 format)

In [242]:
dic = {'name': 'pey', 'phoen':'0119993323', 'birth': '1118'}

In [243]:
a = {1: 'hi'}

In [244]:
a = {'a': [1, 2, 3]}

#### 딕셔너리 쌍 추가, 삭제

In [252]:
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [253]:
a['name'] = 'pey'
print(a)
a[3] = [1,2,3]
print(a)

{1: 'a', 2: 'b', 'name': 'pey'}
{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [254]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

#### 딕셔너리에서 key 사용해서 value 얻기

In [256]:
grade = {'pey': 10, 'julliet': 99}
grade['pey']

10

In [257]:
grade['julliet']

99

In [258]:
a = {1: 'a', 2: 'b'}
a[1]

'a'

In [259]:
a[2]

'b'

In [261]:
dic = {'name' : 'pey', 'phone': '0119993323', 'birth': '1118'}
dic['name']

'pey'

In [262]:
dic['phone']

'0119993323'

In [263]:
dic['birth']

'1118'

In [266]:
a = {1: 'a', 1: 'b'}
a

{1: 'b'}

In [271]:
a = {[1,2]: 'hi'} # list는 dictionary의 key 로 사용불가

TypeError: unhashable type: 'list'

In [270]:
a = {(1,2): 'hi'}    # tuple은 dictionary의 key 로 사용가능
a

{(1, 2): 'hi'}

#### 딕셔너리 관련 함수들

In [272]:
a ={'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [273]:
list(a.keys())

['name', 'phone', 'birth']

In [274]:
for k in a.keys():
    print(k)

name
phone
birth

In [275]:
a.values()

dict_values(['pey', '0119993323', '1118'])

In [276]:
list(a.values())

['pey', '0119993323', '1118']

In [278]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [280]:
a.clear()
a

{}

In [283]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.get('name')     # = a['name']

'pey'

In [284]:
a.get('phone')    # = a['phone']

'0119993323'

In [287]:
a.get('nokey')

In [288]:
a['nokey']

KeyError: 'nokey'

In [289]:
a.get('foo', 'ber')    # 닥셔너리에 key값이 없을 경우, 미리 정해 둔 디폴트 값을 대신 가져오게 하고 실을때 get(key, 'default value')

'ber'

In [290]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [291]:
'name' in a

True

In [292]:
'email' in a

False

### 02-6 Set 집합 자료형

1. 중복을 허용하지 않는다.
2. 순서가 없다. (Unordered) - indexing으로 value를 얻을 수 없다.

In [294]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [295]:
s2 = set('Hello')
s2

{'H', 'e', 'l', 'o'}

In [296]:
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [297]:
l1[0]

1

In [299]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [301]:
t1[0]

1

#### 집합 자료형 활용법

In [302]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
# 교집합
s1 & s2

{4, 5, 6}

In [303]:
s1.intersection(s2)

{4, 5, 6}

In [304]:
#합집합
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [305]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [306]:
# 차집합
s1 - s2

{1, 2, 3}

In [307]:
s2 - s1

{7, 8, 9}

In [308]:
s1.difference(s2)

{1, 2, 3}

In [309]:
s2.difference(s1)

{7, 8, 9}

#### 집합 자료형 관련 함수들

In [310]:
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [311]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [312]:
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

### 02-7 자료형의 참과 거짓
문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어있으면("", [], (), {}) 거짓, 비어있지 않으면 참.

숫자: 0 = 거짓 

None = 거짓

In [7]:
a = [1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [8]:
if []:
    print("True")
else:
    print("False")

False

In [9]:
if [1,2,3]:
    print('True')
else:
    print('False')

True

### 02-8 자료형의 값을 저장하는 공간, 변수

In [10]:
a = 1
b = 'python'
c = [1,2,3]

In [11]:
a = 3

3 이라는 값을 가지는 정수자료형(객체)이 자동으로 메모리에 생성.
<br><br>
a = 변수의 이름이며, 3이라는 정수형 객체가 저장된 메모리 위치를 가르킴.

따라서, 변수 a = 객체가 저장된 메모리의 위치를 가리키는 reference ( a --> 3 )

Python에서 "3"은 상수가 아닌 정수형객체!!!!

In [12]:
type(3)

int

In [13]:
a = 3
b = 3
a is b   # 두 변수가 동일한 객체를 가리키고 있는지 아닌지!

True

3이라는 객체를 가르키는 Reference count, 참조 개수 = 2개

In [15]:
import sys
sys.getrefcount(3)    # 정수형 객체에 참조 개수가 몇 개 있는지

537

In [16]:
c = 3
sys.getrefcount(3)

538

#### 변수를 만드는 방법

In [18]:
a, b = ('python', 'life')
print(a, b)

python life

In [20]:
(a, b) = ('python', 'life')
print(a, b)

python life

In [22]:
[a, b] = ['python', 'life']
print(a, b)

python life

In [24]:
a = b = 'python'
print(a, b)

python python

In [25]:
a = 3
b = 5
a, b = b, a
print(a, b)

5 3

#### 메모리에 생성된 변수 없애기
객체를 가리키는 reference count가 0이 되는 순간, 객체는 메모리에서 사라진다. (Garbage collection)

In [28]:
a = 3
b = 3
del(a)
del(b)

#### 리스트를 변수에 넣고 복사하고자 할 때

In [31]:
a = [1,2,3]
b = a
a[1] = 4
print(a, b)   # a, b가 모두 같은 list [1,2,3]을 가르키고 있었기 때문

[1, 4, 3] [1, 4, 3]

In [35]:
a = [2]
b = a
a[0] = 3
print(a, b)

[3] [3]

새로운 변수를 생성할 때, a와 같은 값을 가지도록 복사해 넣으면서, a가 가리키는 리스트와는 다른 리스트를 기리키게 하는 방법??

In [36]:
#1
a = [1,2,3]
b = a[:]
a[1] =4
print(a, b)

[1, 4, 3] [1, 2, 3]

In [38]:
#2
from copy import copy
a = [1,2,3]
b = copy(a)
a[1] =0
print(a, b)

[1, 0, 3] [1, 2, 3]

In [40]:
a = [1,2,3]
b = copy(a)
b is a    # 두 변수가 같은 값을 가지면서 다른 객체를 가르키게 되었으므로.

False