## 03 제어문 (if, while, for)

### 03-1 if

In [3]:
money = 1
if money:
    print("Take a texi")
else:
    print("Just walk....")

Take a texi

들여쓰기 indentation: 'Tab' or 'Spacebar*4', 혼용해서 쓰지만 말자.

#### 비교연산자: <, >, ==, !=, >=, <=

In [5]:
x = 3
y = 2
x > y

True

In [10]:
x < y

False

In [7]:
x == y

False

In [9]:
x != y

True

In [12]:
money = 20
if money > 30:
    print("Take a texi")
else:
    print("Just walk....")

Just walk....

### and, or, not

In [15]:
money = 20
card = 1
if money > 30 or card:
    print("Take a texi.")
else:
    print("Just walk....")

Take a texi

#### x in s, x not in s

In [17]:
# List
1 in [1,2,3]

True

In [18]:
1 not in [1,2,3]

False

In [19]:
# Tuple
'a' in ('a', 'b', 'c')

True

In [21]:
# String
'j' not in 'python'

True

In [22]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print('Take a texi.')
else:
    print('Just walk....')

Take a texi.

#### elif

In [24]:
pocket = ['paper', 'cellphone']
card = 1
if 'money' in pocket:
    print('Take a texi.')
elif card:
    print('Take a texi.')
else:
    print('Just walk....')

Take a texi.

In [25]:
if 'money' in pocket:
    pass
else:
    print('Pull out your card')

Pull out your card

In [28]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket: print('Take a texi')
else: print('Pull out your card')

Take a texi

### 03-2 for

In [30]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [32]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)   # tuple 변수 대입: (first, last) = (1,2)

3
7
11

In [33]:
# marks1.py
marks = [90,25,67,45,80]

number = 0 
for mark in marks:
    number += 1
    if mark >= 60:
        print('%d번 학생은 합격!' % number)
    else:
        print('%d번 학생은 불합격!' % number)

1번 학생은 합격!
2번 학생은 불합격!
3번 학생은 합격!
4번 학생은 불합격!
5번 학생은 합격!

In [34]:
# marks2.py
marks = [90,25,67,45,80]

number = 0 
for mark in marks:
    number += 1
    if mark < 60: continue
    print('%d번 학생은 합격!' % number)

1번 학생은 합격!
3번 학생은 합격!
5번 학생은 합격!

#### for와 함께 자주 사용하는 range

In [36]:
a = range(10)
a    #0~9

range(0, 10)

In [38]:
sum = 0
for i in range(1,11):
    sum += i

print(sum)

55

In [43]:
# marks3.py
marks = [90,25,67,45,80]
for number in range(len(marks)):    # range(5) = range(0,5)
    if marks[number] < 60: continue
    print('%d번 학생은 합격!' % (number+1))

1번 학생은 합격!
3번 학생은 합격!
5번 학생은 합격!

In [45]:
for i in range(2,10):
    for j in range(1, 10):
        print(i*j, end=" ") # 해당 결과값을 출력할 때 다음줄로 넘기지 않고 그 줄에 계속해서 출력하기 위해서
    print(' ')    # 결과값을 다음 줄 부터 출력하게

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

#### For in List, 리스트 내포 (List comprehension)

In [47]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
    
print(result)

[3, 6, 9, 12]

In [49]:
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [52]:
result = [num*3 for num in a if num % 2 == 0]   # [표현식 for 항목 in 반복가능객체 if 조건]
print(result)

[6, 12]

In [55]:
result = [ x*y for x in range(2,10)
               for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]